section{
  border: solid 1px blue;
  width: 100%;
text-align: center;

}
div{
  margin: 10px;
  width: 25vw;
}
.primeiro{
  float: left;
  border: solid 1px black;
}
.segundo{
  float: right;
  border: solid 1px black;
}
img{
  border: solid;


}